/DescenteDoLogic.class
/DescenteMove.class
/DiagonaleDoLogic.class
/DiagonaleMove.class
/GaucheDroiteDoLogic.class
/GaucheDroiteMove.class
/RandomDoLogic.class
/RandomMove.class
/StrategieDoLogic.class
/StrategieMove.class
/StrategieTir.class
/TirVertical.class
/TirOppositePostion.class
